a {
    color: #000;
    text-decoration: none;
    
}
.main {
    /* background-color: deeppink; */
    width: 80vw;
    height: 800px;
    margin: 10px auto;
}
.oneCard {
    width: 300px;
    height: 360px;
    margin: 4px;
    background-color: #fff;
    transition: 0.4s ease-out;
    overflow: hidden;
    cursor: pointer;
}
.oneCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #000a;
}

.headPortraitContainer {
    width: 50%;
    height: 40%;
    margin: 10px auto;
}
.headPortraitContainer>img {
    width: 100%;
    border-radius: 50%;
}
.username {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 24px;
}
.userID {
    font-size: 16px;
    text-align: center;
}